.cont-main-cabeprinc{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: #F16F8E;
    .cont-logo-cabeprinc{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 33.3%;
        height: 100%;
        border: 0.1px solid green;
        .cont-01-logo{
            width: 50%;
            height: 40%;

            border: 0.1px solid powderblue;
        }
        .cont-02-logo{
            width: 50%;
            height: 40%;

            border: 0.1px solid blue;
        }
    }
    .cont-busca-cabeprinc{
        width: 33.3%;
        height: 100%;
        border: 0.1px solid red;
    }
    .cont-login-cabeprinc{
        width: 33.3%;
        height: 100%;
        border: 0.1px solid firebrick;
    }
}